@model WebBookStore.Models.ViewModel

@{
    ViewBag.Title = "Index";
}
<h2>Index page</h2>
<h2>Log in</h2>

@using (Html.BeginForm("Index", "UserAccountModels"))
{   
    @Html.TextBoxFor(x => x.UserAccount.Username)
    @Html.TextBoxFor(x => x.UserAccount.Password)
    <input type="submit" value="pritisni" />
}
<p>
    @Html.ActionLink("Don't have profile? Register...", "registerPage")
</p>

